<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加商品</title>
		<script src="__JS__/jquery.min.js"></script>
	</head>
	<body>
	<!-- 要用name不然serialize()拿不到值 -->
	<form action="{:url('admin/Add/add')}" method="post" id="editionForm" enctype="multipart/form-data">
		<td>商品名字<input type="text" id="commodity_name" name="commodity_name"></td><br/>
		商品价格<input type="text" id="commodity_money" name="commodity_money"><br/>
		<select  name='edition'>
		{foreach name="edition" item='vo'}
             	<option value='{$vo.id}'>{$vo.commodity_edition}</option>
		{/foreach}
		</select><br/>
		
		
		<select name='class'>
		{foreach name="class" item="ak"}
             	<option value='{$ak.id}'>{$ak.name}</option>
             	
        {/foreach}
        </select><br/>
        <select name='color'>
		{foreach name="color" item='fzq'}
             	<option value='{$vo.id}'>{$fzq.commodity_color}</option>
		{/foreach}
		</select><br/>
        	图片<input type="file" id="file" name='file'>
        <input type="submit" value="提交">
	</form>
	</body>
</html>
<script>
	/*function jia(){
		//data=$('#editionForm').serialize();
		//alert(data);
	    $.ajax({
	        type:"POST",
	        url:"{:url('admin/Add/add')}",
	        data:{'data':$('#editionForm').serialize()},
	        success: function(data) {
	        	alert(data);
	        }
	    });
	}*/
</script>